<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <connectionStrings>
        <add name="Cn" connectionString="Data Source=ALVARO\SQLEXPRESS;Initial Catalog=DB_PYME;User ID=PYME;Password=Mercedes280880.04;" 
             providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>